<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bjgas.gasapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.treslines.ponto" >
    </instrumentation>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bjgas.test.LineChartActivity" >
        </activity>

        <uses-library android:name="android.test.runner" />

        <activity android:name=".NengyuanJiegou" >
        </activity>
        <activity android:name=".zongjiegou.ZongjiegouCharts" >
        </activity>
        <activity android:name="com.bjgas.test.PopupWindowTest" >
        </activity>
        <activity android:name=".fadianji.FadianjiActivity" >
        </activity>
        <activity android:name="com.bjgas.test.TestHeaderChartViewActivity" >
        </activity>
        <activity android:name=".zhileng.ZhilengActivity" >
        </activity>
        <activity android:name=".guolu.GuoluActivity" >
        </activity>
        <activity android:name=".NengyuanXiaolv" >
        </activity>
        <activity android:name="com.bjgas.gasapp.zongxiaolv.ZongXiaolvActivity" >
        </activity>
        <activity android:name="com.bjgas.gasapp.fadianjixiaolv.FadianjiXiaolvActivity" >
        </activity>
        <activity android:name="com.bjgas.gasapp.dianzhilengxiaolv.DianzhilengXiaolvActivity" >
        </activity>
        <activity android:name="com.bjgas.gasapp.guoluxiaolv.GuoluXiaolvActivity" >
        </activity>
        <activity android:name="com.bjgas.gasapp.zhiranjixiaolv.ZhiranjiXiaolvActivity" >
        </activity>
        <activity android:name="com.bjgas.gasapp.lengqutaxiaolv.LengqutaXiaolvActivity" >
        </activity>
        <activity android:name="com.bjgas.gasapp.lengdongtaxiaolv.LengdongtaXiaolvActivity" >
        </activity>
        <activity android:name="com.bjgas.gasapp.nengyuanliyongxiaolv.NengyuanliyongXiaolvActivity" >
        </activity>
        <activity android:name="com.bjgas.gasapp.yurexiaolv.YureXiaolvActivity" >
        </activity>
    </application>

</manifest>